// displays values of each book in array of books
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year Released
  tbody
    each item in rowArray
      if item != null
        tr
          td
            a(href=`books/book_detail/${item.id}`)= item.title
          td= item.author
          td= item.genre
          td= item.first_published
