extends ../layout
//- template for books pg
block content
  if filterTitle
    h1= filterTitle
  else
    h1= title
  include ../reusable/createNewButton.pug
  include ../reusable/filterOptions.pug
  include ./books_table.pug
