doctype html
html
  head
    title Library Manager
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/javascripts/paginate.js")
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/books") Books
        li
          a(href="/patrons") Patrons
        li
          a(href="/loans") Loans
        li(class='searchLi')
          if title != 'Welcome to Library Manager'
            if title == 'Books'
              //- (action="/books/search", method="get")
              form(id='searchForm' action="/books/search", method="get")
                  input(id='searchInput' name="searchInput" type="text" placeholder='')
                  input(id='searchSubmit' type="submit" value="Search")
            else if title == 'Loans'
              //- (action="/loans/search", method="get")
              form(id='searchForm')
                  input(id='searchInput' name="searchInput" type="text" placeholder='')
                  input(id='searchSubmit' type="submit" value="Search")
            else if title == 'Patrons'
              //- (action="/patrons/search", method="get")
              form(id='searchForm')
                  input(id='searchInput' name="searchInput" type="text" placeholder='')
                  input(id='searchSubmit' type="submit" value="Search")
    section(id="section1")
      block content
    footer
      nav(id='paginateNav')
       if pagesArray
         ul Pages:
          - var navPageIndex = 1
          each page in pagesArray
            li
             a(id=`nav${navPageIndex}` href=`#page${navPageIndex}`)= navPageIndex
             - navPageIndex += 1
       else
         ul
            li
