if title == 'Books'
  p
    a( href=createNewRoute class="button" class="button") Create New Book
else if title == 'Loans'
  p
    a( href=createNewRoute class="button" class="button") Create New Loan
else if title == 'Patrons'
  p
    a( href=createNewRoute class="button" class="button") Create New Patron
