extends ../layout
//- template for patron_detail pg
block content
  h1= `${title}: ${patronObject.first_name} ${patronObject.last_name}`
  include ../reusable/updateForm.pug
  include ../patronViews/patron_detail_table.pug
